$color_1: var(--neutral-600);
$color_2: var(--green-300);
$color_3: var(--neutral-900);
$color_4: var(--accent);
$color_5: var(--neutral-black);
$color_6: var(--neutral-white);
$color_7: var(--neutral-500);
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Montserrat", sans-serif;
$background-color_1: var(--neutral-000);
$background-color_2: var(--green-100);
$background-color_3: var(--neutral-100);
$background-color_4: var(--green-300);
$background-color_5: var(--neutral-white);
$border-top-color_1: var(--green-300);