html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    font-size: .5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--neutral-000);
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.style-header{
    margin: 0 3rem;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

h4 {
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0;
}

h5 {
    font-weight: 600;
    font-size: .8rem;
    margin: 0.5rem 0;
}

h6 {
    font-weight: 400;
    font-size: .6rem;
    margin-top: 0rem;
    margin: 0;
}

/*========== NAVIGATION BAR ==========*/

header {
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    transition: 0.5s;
    margin: 0;
    margin-top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-link {
    font-size: .5rem;
    font-weight: 600;
    color: var(--neutral-600);
    text-decoration: none;
    transition: 0.6s;
    padding: 0.5rem;
    border-radius: 10px;
}

.nav-link:hover,
.nav-link:focus {
    border-radius: 10px;
    color: var(--green-300);
    font-weight: 700;
}

/*========== FOOTER ==========*/

.footer-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--neutral-100);
    background-color: var(--green-100);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin: .5rem;
    gap: 1.25rem;
}

.footer-icon {
    width: 2.5vw;
    transition: transform 0.3s, color 0.3s;
}

.footer-icon:hover {
    transform: scale(1.2);
}

.footer-links {
    gap: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link {
    color: var(--neutral-900);
    text-decoration: none;
    transition: 0.3s;
    margin: 0.5rem;
    padding: 0.1rem 0.2rem;
    align-self: center;
    text-align: center;
}

.footer-link:hover {
    font-weight: 600;
    font-size: .6rem;
    color: var(--green-300);
}

.footer-link:focus{
    color: var(--accent);
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    align-self: center;
    text-align: center;
    margin: 1.5rem 0;
}

.footer-copyright {
    color: var(--neutral-black);
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}

/*========== STYLE GUIDE ==========*/

code {
    background-color: var(--neutral-100);
    padding: 0.5rem;
    display: block;
    border-radius: 10px;
    color: var(--green-300);
    font-size: 0.9rem;
}

.element {
    margin: 0 3rem;
    padding: .5rem 0rem 1rem; /* top, right/left, bottom */
    border-top-width: 0.2rem;
    border-top-style: solid;
    border-top-color: var(--neutral-600);
}

.element-main {
    margin: 2rem 0;
}

#hero{
    background-color: var(--green-100);
}

.section-header {
    margin: 0 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.section-header nav{
    margin: 2rem 0rem 0rem;
}

.section-header nav a {
    margin-right: 1rem;
    color:var(--neutral-black);
    outline: 1.5px solid var(--neutral-white);
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
}

.section-header nav a:hover, nav a:focus {
    color: var(--neutral-black);
    background-color: var(--neutral-white);
}


#hero nav p {
    margin-bottom: 2rem;
}

section nav a {
    padding: 0.5rem;
    background-color: var(--bg);
    color: var(--neutral-600);
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
    outline: 1px solid var(--neutral-600);
    border-radius: 10px;
}

section nav a:hover,
nav a:focus {
    color: var(--neutral-black);
    background-color: var(--green-300);
}

section nav a:focus-visible {
    outline: 1px solid var(--green-100);
}

a:focus-visible {
    outline: 1px solid var(--green-100);
}

.color-palette {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 0.25rem;
}

.color>div {    
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    border: 1px solid var(--neutral-200);
}

.color>small {
    font-size: 0.75rem;
    font-weight: 400;
}

/* 
    INTERACTIVE ELEMENTS
  */

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.primary-btn {
    padding: 0.6rem 1rem;
    background-color: var(--green-300);
    color: var(--neutral-white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
.primary-btn:hover, .primary-btn:focus {
    background-color: var(--green-100);
}

.secondary-btn {
    padding: 0.5rem 1rem;
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    outline: solid 1px var(--neutral-300);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.secondary-btn:hover, .secondary-btn:focus {
    background-color: var(--green-100);
}

.in-text-link,
p>a {
    color: var(--green-300);
    transition: color 0.5s;
    text-decoration: underline;
    font-weight: 600;
}

.in-text-link:hover,
p>a:hover {
    color: var(--accent);
    text-decoration: underline;
}

.in-text-link:focus-visible,
p>a:focus-visible,
.image-link:focus-visible {
    text-decoration: none;
    outline: 1px solid var(--accent);
    border-radius: 10px;
    padding: 0 0.2rem;
}

/*
    CONTENT
  */

.img-bio {
    width: 15rem;
    border-radius: 10px;
}

.img-case-study {
    width: 100%;
}

/*
    COMBINED ELEMENTS
  */

  .combined-element-container {
    border-radius: 10px;
    outline: 1px solid var(--neutral-300);
    padding: 0.5rem 0rem;
  }

  /*========== HOME PAGE ==========*/

  /*
    HERO
  */

  .hero-landing-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-width: 32rem;
  }

  .hero-landing-container h1 {
    margin: 0;
  }

  .hero-landing-container p {
    font-size: 1.25rem;
  }

  .hero-landing-container small {
    color: var(--neutral-500);
    font-size: 1rem;
    margin-bottom: 2rem;
  }

/*========== PROCESS ==========*/



/*========== About Me ==========*/

.section-dividers {
    margin: 0 3rem;
    padding: .1rem 0rem 1rem; /* top, right/left, bottom */
}

.Personal-Bio{
    display: flex;
}

.Bio-Picture{
    max-width: 25vw;
    width: 100%;
    height: 100%;
    margin: 0rem 2rem 0 0;
}

.Bio-Content{
    max-width: 50%;
}

.gallery-pictures{
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.gallery-pictures img{
    margin: 1rem;
    max-width: 25vw;
    max-height: 25vw;
}

#gallery{
    margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
    .gallery-pictures{
        margin: 0 2rem;
        align-items: center;
    }

    .gallery-pictures img{
        margin: 0;
        max-width: 38vw;
        max-height: 70vw;
    }

}

@media only screen and (max-width: 960px) {
    .gallery-pictures img{
        margin: 0.5rem;
        max-height: 50vw;
    }
}
